<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link th:rel="stylesheet" th:href="@{css/bootstrap.min.css}">
</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h1 class="display-4" th:text="${greeting}"></h1>
	</div>
	<div th:unless="${authenticated}">
		<div>
			Login with GitHub: <a href="/oauth2/authorization/github">Click	here</a>
		</div>
		<div>
			Login with Google: <a href="/oauth2/authorization/google">Click	here</a>
		</div>
	</div>
	<div th:if="${authenticated}">
		Logged in as: <span th:text="${user}"></span>
		<ul>
			<li><a th:href="@{/message}">View message</a></li>
			<li><a th:href="@{/post}">Post new message</a></li>
		</ul>
		<p>
			<form th:action="@{/logout}" method="POST">
				<button type="submit" class="btn btn-primary">Logout</button>
			</form>
		</p>
	</div>
</div>
</body>
</html>
